
body {
  background-color: rgb(255, 250, 205);
}

h1{
	text-align: center;
	padding:10rem;
	margin
	font-size: 5.2rem ;
}

p{
	font-size: 1.8rem;
	text-align: center;
}

.container
{ margin: 10rem;
	padding:10rem;
	width:10rem
	height:10rem;
}

p {
	text-align: center;
	padding:10rem;
}
